html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  text-align: center;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

div {
  float: left;
  display: inline-block;
  width: 25%;
}

a {
  text-decoration: none;
}

img {
  width: 100px;
  display: inline-block;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
}

.one {
  background-color: #e2e2e2;
}

.two {
  background-color: #ccc;
}

.three {
  background-color: #aaa;
}

.four {
  background-color: #999;
}
