html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1.7rem;

}

h2 {
  font-size: .875rem;
  margin-bottom: 0;
  margin-top: 2em;
}

h3 {
  font-style: italic;
  font-size: .875rem;
  font-weight: normal;
  margin: 0;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 3rem;
}

div {
  float: left;
  display: inline-block;
  width: 25%;
  height: 420px;
  border-left: 1px solid #333;
}

a {
  text-decoration: none;
}

img {
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 1em;
  padding: .5rem;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
}

.one {
  background-color: #e2e2e2;
}

.two {
  background-color: #ccc;
}

.three {
  background-color: #aaa;
}

.four {
  background-color: #999;
  border-right: 1px solid #333;
}
